


SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;


CREATE EXTENSION IF NOT EXISTS "pg_cron" WITH SCHEMA "pg_catalog";






COMMENT ON SCHEMA "public" IS 'standard public schema';



CREATE EXTENSION IF NOT EXISTS "pg_net" WITH SCHEMA "public";






CREATE EXTENSION IF NOT EXISTS "pg_graphql" WITH SCHEMA "graphql";






CREATE EXTENSION IF NOT EXISTS "pg_stat_statements" WITH SCHEMA "extensions";






CREATE EXTENSION IF NOT EXISTS "pgcrypto" WITH SCHEMA "extensions";






CREATE EXTENSION IF NOT EXISTS "supabase_vault" WITH SCHEMA "vault";






CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA "extensions";






CREATE TYPE "public"."counterparty_type" AS ENUM (
    'issuer_dealer',
    'custodian',
    'internal',
    'other'
);


ALTER TYPE "public"."counterparty_type" OWNER TO "postgres";


CREATE TYPE "public"."fee_role" AS ENUM (
    'advisor_1',
    'advisor_2',
    'custodian'
);


ALTER TYPE "public"."fee_role" OWNER TO "postgres";


CREATE TYPE "public"."fee_unit" AS ENUM (
    'bps',
    'percent',
    'amount'
);


ALTER TYPE "public"."fee_unit" OWNER TO "postgres";


CREATE TYPE "public"."leg_side" AS ENUM (
    'buy',
    'sell'
);


ALTER TYPE "public"."leg_side" OWNER TO "postgres";


CREATE TYPE "public"."settlement_type" AS ENUM (
    'percent',
    'units'
);


ALTER TYPE "public"."settlement_type" OWNER TO "postgres";


CREATE TYPE "public"."trade_status" AS ENUM (
    'pending',
    'booked',
    'cancelled',
    'archived'
);


ALTER TYPE "public"."trade_status" OWNER TO "postgres";


CREATE TYPE "public"."transaction_type" AS ENUM (
    'primary',
    'increase',
    'unwind'
);


ALTER TYPE "public"."transaction_type" OWNER TO "postgres";


CREATE TYPE "public"."user_role" AS ENUM (
    'admin',
    'readonly'
);


ALTER TYPE "public"."user_role" OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."get_fx_health"() RETURNS TABLE("latest_rate_date" "date", "pending_trades" bigint, "pairs_expected" integer, "pairs_actual" integer, "missing_pairs" "text"[], "offdate_trades" bigint, "rates" json)
    LANGUAGE "sql" SECURITY DEFINER
    SET "search_path" TO 'public'
    AS $$
  with expected as (
    select unnest(array['USD','CHF','GBP','AUD','JPY','SEK','NOK','CAD','HKD']) as quote_ccy
  ),
  latest_date as (
    select max(rate_date) as rate_date
    from public.fx_rates
  ),
  present as (
    select r.quote_ccy
    from public.fx_rates r
    join latest_date ld on r.rate_date = ld.rate_date
  ),
  missing as (
    select array_agg(e.quote_ccy order by e.quote_ccy) as missing_pairs
    from expected e
    left join present p on p.quote_ccy = e.quote_ccy
    where p.quote_ccy is null
  ),
  rates_cte as (
    select r.quote_ccy, r.rate, r.rate_date, r.retrieved_at
    from public.fx_rates r
    join latest_date ld on r.rate_date = ld.rate_date
  ),
  pending as (
    select count(*) as pending_count
    from public.trades
    where fx_pending = true
      and trade_date = current_date
  ),
  offdate as (
    select count(*) as offdate_count
    from public.trades tr
    join public.products p on p.id = tr.product_id
    where upper(trim(p.currency)) <> 'EUR'
      and tr.fx_rate_date is distinct from tr.trade_date
  )
  select
    (select rate_date from latest_date) as latest_rate_date,
    (select pending_count from pending) as pending_trades,
    9 as pairs_expected,
    (select count(distinct quote_ccy) from present) as pairs_actual,
    (select missing_pairs from missing) as missing_pairs,
    (select offdate_count from offdate) as offdate_trades,
    json_agg(rates_cte order by quote_ccy) as rates
  from rates_cte;
$$;


ALTER FUNCTION "public"."get_fx_health"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."get_fx_status"() RETURNS TABLE("latest_rate_date" "date", "pending_trades" bigint, "rates" json)
    LANGUAGE "sql" SECURITY DEFINER
    SET "search_path" TO 'public'
    AS $$
  with latest_date as (
    select max(rate_date) as rate_date
    from public.fx_rates
  ),
  rates_cte as (
    select r.quote_ccy, r.rate, r.rate_date, r.retrieved_at
    from public.fx_rates r
    join latest_date ld on r.rate_date = ld.rate_date
  ),
  pending as (
    select count(*) as pending_count
    from public.trades
    where fx_pending = true
      and trade_date = current_date
  )
  select
    (select rate_date from latest_date),
    (select pending_count from pending),
    json_agg(rates_cte order by quote_ccy)
  from rates_cte;
$$;


ALTER FUNCTION "public"."get_fx_status"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."is_active_user"() RETURNS boolean
    LANGUAGE "sql" STABLE
    AS $$
  select exists (
    select 1
    from public.profiles p
    where p.id = auth.uid()
      and p.active = true
  );
$$;


ALTER FUNCTION "public"."is_active_user"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."is_admin"() RETURNS boolean
    LANGUAGE "sql" STABLE
    AS $$
  select exists (
    select 1
    from public.profiles p
    where p.id = auth.uid()
      and p.active = true
      and p.role = 'admin'
  );
$$;


ALTER FUNCTION "public"."is_admin"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."prevent_update_delete_booked"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
begin

  -- DELETE protection
  if tg_op = 'DELETE' then
    if old.status in ('booked','cancelled','archived') then
      raise exception 'Booked/cancelled/archived trades are locked. Create an amendment/version instead.';
    end if;
    return old;
  end if;

  -- UPDATE protection
  if tg_op = 'UPDATE' then

    -- If trade not locked ÔåÆ allow
    if old.status not in ('booked','cancelled','archived') then
      return new;
    end if;

    -- Allow FX-only updates
    if
      old.fx_eur_rate   is distinct from new.fx_eur_rate or
      old.fx_rate_date  is distinct from new.fx_rate_date or
      old.fx_pending    is distinct from new.fx_pending or
      old.fx_source     is distinct from new.fx_source or
      old.fx_updated_at is distinct from new.fx_updated_at
    then
      return new;
    end if;

    raise exception 'Booked/cancelled/archived trades are locked. Create an amendment/version instead.';
  end if;

  return new;
end;
$$;


ALTER FUNCTION "public"."prevent_update_delete_booked"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."rls_auto_enable"() RETURNS "event_trigger"
    LANGUAGE "plpgsql" SECURITY DEFINER
    SET "search_path" TO 'pg_catalog'
    AS $$
DECLARE
  cmd record;
BEGIN
  FOR cmd IN
    SELECT *
    FROM pg_event_trigger_ddl_commands()
    WHERE command_tag IN ('CREATE TABLE', 'CREATE TABLE AS', 'SELECT INTO')
      AND object_type IN ('table','partitioned table')
  LOOP
     IF cmd.schema_name IS NOT NULL AND cmd.schema_name IN ('public') AND cmd.schema_name NOT IN ('pg_catalog','information_schema') AND cmd.schema_name NOT LIKE 'pg_toast%' AND cmd.schema_name NOT LIKE 'pg_temp%' THEN
      BEGIN
        EXECUTE format('alter table if exists %s enable row level security', cmd.object_identity);
        RAISE LOG 'rls_auto_enable: enabled RLS on %', cmd.object_identity;
      EXCEPTION
        WHEN OTHERS THEN
          RAISE LOG 'rls_auto_enable: failed to enable RLS on %', cmd.object_identity;
      END;
     ELSE
        RAISE LOG 'rls_auto_enable: skip % (either system schema or not in enforced list: %.)', cmd.object_identity, cmd.schema_name;
     END IF;
  END LOOP;
END;
$$;


ALTER FUNCTION "public"."rls_auto_enable"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."set_pnl_eur"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
declare
  ccy text;
begin

  -- Get product currency
  select upper(trim(currency))
  into ccy
  from public.products
  where id = new.product_id;

  if ccy = 'EUR' then
    new.pnl_eur := new.pnl_trade_ccy;
  else
    if new.fx_eur_rate is not null and new.fx_eur_rate <> 0 then
      new.pnl_eur := new.pnl_trade_ccy / new.fx_eur_rate;
    else
      new.pnl_eur := null;
    end if;
  end if;

  return new;
end;
$$;


ALTER FUNCTION "public"."set_pnl_eur"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."set_pnl_eur_from_fx"() RETURNS "trigger"
    LANGUAGE "plpgsql" SECURITY DEFINER
    SET "search_path" TO 'public'
    AS $$
declare
  ccy text;
begin
  -- Get product currency
  select upper(trim(currency)) into ccy
  from public.products
  where id = new.product_id;

  if ccy is null or ccy = 'EUR' then
    new.pnl_eur := new.pnl_trade_ccy;
    return new;
  end if;

  if new.pnl_trade_ccy is null or new.fx_eur_rate is null or new.fx_eur_rate = 0 then
    new.pnl_eur := null;
    return new;
  end if;

  new.pnl_eur := new.pnl_trade_ccy / new.fx_eur_rate;
  return new;
end;
$$;


ALTER FUNCTION "public"."set_pnl_eur_from_fx"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."set_trade_fx_from_ecb"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
declare
  v_ccy text;
  v_rate numeric;
  v_rate_date date;
  v_has_same_day boolean;
begin
  -- If we don't have the required inputs yet, do nothing
  if new.product_id is null or new.trade_date is null then
    return new;
  end if;

  -- Pull currency from product
  select upper(trim(p.currency))
    into v_ccy
  from public.products p
  where p.id = new.product_id;

  if v_ccy is null then
    return new;
  end if;

  -- EUR trades: trivial
  if v_ccy = 'EUR' then
    new.fx_eur_rate := 1;
    new.fx_rate_date := new.trade_date;
    new.fx_pending := false;
    new.fx_source := 'ECB';
    new.fx_updated_at := now();
    return new;
  end if;

  -- Try exact FX for trade_date
  select r.rate, r.rate_date
    into v_rate, v_rate_date
  from public.fx_rates r
  where r.quote_ccy = v_ccy
    and r.rate_date = new.trade_date;

  v_has_same_day := (v_rate is not null);

  -- If not available (e.g., before 16:00 or weekend/holiday), use latest available <= trade_date
  if not v_has_same_day then
    select r.rate, r.rate_date
      into v_rate, v_rate_date
    from public.fx_rates r
    where r.quote_ccy = v_ccy
      and r.rate_date <= new.trade_date
    order by r.rate_date desc
    limit 1;
  end if;

  -- Apply if we found something
  new.fx_eur_rate := v_rate;
  new.fx_rate_date := v_rate_date;
  new.fx_source := 'ECB';
  new.fx_updated_at := now();

  -- Pending logic:
  -- Only mark pending when trade_date is today and the same-day rate is missing (typical before 16:00).
  -- For past dates/weekends, we don't keep trades pending forever.
  new.fx_pending := (new.trade_date = current_date and not v_has_same_day);

  return new;
end;
$$;


ALTER FUNCTION "public"."set_trade_fx_from_ecb"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."set_trade_fx_from_rates"() RETURNS "trigger"
    LANGUAGE "plpgsql" SECURITY DEFINER
    SET "search_path" TO 'public'
    AS $$
declare
  ccy text;
  r record;
begin
  -- Only run when needed
  if tg_op = 'UPDATE' then
    if new.trade_date is not distinct from old.trade_date
       and new.product_id is not distinct from old.product_id then
      return new;
    end if;
  end if;

  -- If no trade_date, mark pending and exit
  if new.trade_date is null then
    new.fx_eur_rate := null;
    new.fx_rate_date := null;
    new.fx_pending := true;
    new.fx_source := null;
    new.fx_updated_at := now();
    return new;
  end if;

  select upper(trim(currency)) into ccy
  from public.products
  where id = new.product_id;

  -- EUR case
  if ccy is null or ccy = 'EUR' then
    new.fx_eur_rate := 1;
    new.fx_rate_date := new.trade_date;
    new.fx_pending := false;
    new.fx_source := 'SYSTEM';
    new.fx_updated_at := now();
    return new;
  end if;

  -- Find the best available FX rate: exact date if possible, else latest <= trade_date
  select fr.rate_date, fr.rate
    into r
  from public.fx_rates fr
  where fr.quote_ccy = ccy
    and fr.rate_date <= new.trade_date
  order by fr.rate_date desc
  limit 1;

  if r.rate is null then
    -- No FX history at all -> mark pending (but do NOT blank out pnl fields; pnl_eur will be null via trigger)
    new.fx_eur_rate := null;
    new.fx_rate_date := null;
    new.fx_pending := true;
    new.fx_source := 'ECB';
    new.fx_updated_at := now();
    return new;
  end if;

  new.fx_eur_rate := r.rate;
  new.fx_rate_date := r.rate_date;
  new.fx_pending := (r.rate_date <> new.trade_date); -- mismatch means fallback used
  new.fx_source := 'ECB';
  new.fx_updated_at := now();

  return new;
end;
$$;


ALTER FUNCTION "public"."set_trade_fx_from_rates"() OWNER TO "postgres";

SET default_tablespace = '';

SET default_table_access_method = "heap";


CREATE TABLE IF NOT EXISTS "public"."advisor_contacts" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "advisor_id" "uuid" NOT NULL,
    "first_name" "text" NOT NULL,
    "family_name" "text" NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    "email" "text"
);


ALTER TABLE "public"."advisor_contacts" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."advisors" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "legal_name" "text" NOT NULL,
    "country_code" "text" NOT NULL,
    "contact_full_name" "text",
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    "created_by" "uuid",
    "advisor_type" "text",
    "owner_sales_id" "uuid",
    CONSTRAINT "advisors_country_code_chk" CHECK ((("country_code" IS NULL) OR ("length"("country_code") = 2))),
    CONSTRAINT "advisors_name_pattern_chk" CHECK (("legal_name" ~* '.+,\s*.+$'::"text")),
    CONSTRAINT "advisors_type_chk" CHECK (("advisor_type" = ANY (ARRAY['client'::"text", 'introducer'::"text"])))
);


ALTER TABLE "public"."advisors" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."counterparties" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "legal_name" "text" NOT NULL,
    "lei" "text",
    "ssi" "text",
    "country_code" "text" NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    "created_by" "uuid",
    "cp_type" "public"."counterparty_type" DEFAULT 'other'::"public"."counterparty_type" NOT NULL,
    CONSTRAINT "counterparties_country_code_chk" CHECK ((("country_code" IS NULL) OR ("length"("country_code") = 2))),
    CONSTRAINT "counterparties_name_pattern_chk" CHECK (("legal_name" ~* '.+,\s*.+$'::"text"))
);


ALTER TABLE "public"."counterparties" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."counterparty_contacts" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "counterparty_id" "uuid" NOT NULL,
    "contact_full_name" "text" NOT NULL,
    "contact_email" "text",
    "is_primary" boolean DEFAULT false NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL
);


ALTER TABLE "public"."counterparty_contacts" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."fx_rates" (
    "rate_date" "date" NOT NULL,
    "quote_ccy" "text" NOT NULL,
    "rate" numeric NOT NULL,
    "source" "text" DEFAULT 'ECB'::"text" NOT NULL,
    "retrieved_at" timestamp with time zone DEFAULT "now"() NOT NULL
);


ALTER TABLE "public"."fx_rates" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."group_entities" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "legal_name" "text" NOT NULL,
    "country_code" "text" NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    "created_by" "uuid",
    CONSTRAINT "group_entities_name_pattern_chk" CHECK (("legal_name" ~* '.+,\s*.+$'::"text"))
);


ALTER TABLE "public"."group_entities" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."issuers" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "legal_name" "text" NOT NULL,
    "lei" "text",
    "country_code" "text" NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    "created_by" "uuid",
    CONSTRAINT "issuers_name_pattern_chk" CHECK (("legal_name" ~* '.+,\s*.+$'::"text"))
);


ALTER TABLE "public"."issuers" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."products" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "isin" "text" NOT NULL,
    "valoren" "text",
    "product_name" "text" NOT NULL,
    "issuer_id" "uuid" NOT NULL,
    "currency" "text" NOT NULL,
    "maturity_date" "date",
    "settlement" "public"."settlement_type" DEFAULT 'percent'::"public"."settlement_type" NOT NULL,
    "issue_price" numeric(18,8),
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    "created_by" "uuid",
    "archived" boolean DEFAULT false NOT NULL
);


ALTER TABLE "public"."products" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."profiles" (
    "id" "uuid" NOT NULL,
    "email" "text",
    "full_name" "text" NOT NULL,
    "role" "public"."user_role" DEFAULT 'readonly'::"public"."user_role" NOT NULL,
    "active" boolean DEFAULT true NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL
);


ALTER TABLE "public"."profiles" OWNER TO "postgres";


COMMENT ON TABLE "public"."profiles" IS 'App user profiles and authorization (role + active).';



CREATE TABLE IF NOT EXISTS "public"."sales_people" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "first_name" "text" NOT NULL,
    "family_name" "text" NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    "email" "text"
);


ALTER TABLE "public"."sales_people" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."trade_fees" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "trade_leg_id" "uuid" NOT NULL,
    "role" "public"."fee_role" NOT NULL,
    "beneficiary_name" "text",
    "unit" "public"."fee_unit" NOT NULL,
    "value" numeric(20,8) NOT NULL,
    "currency" "text",
    "note" "text",
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    "created_by" "uuid" NOT NULL
);


ALTER TABLE "public"."trade_fees" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."trade_legs" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "trade_id" "uuid" NOT NULL,
    "leg" "public"."leg_side" NOT NULL,
    "counterparty_id" "uuid" NOT NULL,
    "currency" "text" NOT NULL,
    "size" numeric(20,4) NOT NULL,
    "price" numeric(18,8) NOT NULL,
    "settlement" "public"."settlement_type" DEFAULT 'percent'::"public"."settlement_type" NOT NULL,
    "advisor1_id" "uuid",
    "advisor2_id" "uuid",
    "pnl_trade_ccy" numeric(20,4),
    "pnl_eur" numeric(20,4),
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    "created_by" "uuid" DEFAULT "auth"."uid"() NOT NULL,
    "status" "text" DEFAULT 'pending'::"text" NOT NULL,
    CONSTRAINT "trade_legs_status_check" CHECK (("status" = ANY (ARRAY['pending'::"text", 'booked'::"text"])))
);


ALTER TABLE "public"."trade_legs" OWNER TO "postgres";


CREATE SEQUENCE IF NOT EXISTS "public"."trade_reference_seq"
    START WITH 2001
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "public"."trade_reference_seq" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."trade_versions" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "trade_id" "uuid" NOT NULL,
    "version_number" integer NOT NULL,
    "change_type" "text" NOT NULL,
    "snapshot" "jsonb" NOT NULL,
    "changed_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    "changed_by" "uuid" NOT NULL,
    "change_note" "text"
);


ALTER TABLE "public"."trade_versions" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."trades" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "transaction_type" "public"."transaction_type" NOT NULL,
    "trade_date" "date" NOT NULL,
    "value_date" "date",
    "maturity_date" "date",
    "product_id" "uuid" NOT NULL,
    "reference" "text" DEFAULT ('VALPAR'::"text" || "nextval"('"public"."trade_reference_seq"'::"regclass")),
    "status" "public"."trade_status" DEFAULT 'pending'::"public"."trade_status" NOT NULL,
    "sales_id" "uuid",
    "distributing_entity_id" "uuid",
    "booking_entity_id" "uuid",
    "created_by" "uuid" DEFAULT "auth"."uid"() NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    "booked_at" timestamp with time zone,
    "booked_by" "uuid",
    "cancelled_at" timestamp with time zone,
    "cancelled_by" "uuid",
    "buy_price" numeric(18,8),
    "sell_price" numeric(18,8),
    "total_size" numeric(20,4),
    "gross_fees" numeric(20,4),
    "retro_client" numeric(20,4),
    "retro_introducer" numeric(20,4),
    "fee_custodian" numeric(20,4),
    "pnl_trade_ccy" numeric(20,4),
    "pnl_eur" numeric(20,4),
    "fx_eur_rate" numeric(20,8),
    "booking_timestamp" timestamp with time zone,
    "client_name" "text",
    "introducer_name" "text",
    "sales_name" "text",
    "retro_client_input" numeric,
    "retro_introducer_input" numeric,
    "fee_custodian_input" numeric,
    "client_contact_id" "uuid",
    "introducer_contact_id" "uuid",
    "fx_rate_date" "date",
    "fx_pending" boolean DEFAULT false NOT NULL,
    "fx_source" "text",
    "fx_updated_at" timestamp with time zone,
    "reportable" boolean DEFAULT false NOT NULL
);


ALTER TABLE "public"."trades" OWNER TO "postgres";


CREATE OR REPLACE VIEW "public"."trades_analytics_v" AS
 SELECT "t"."id",
    "t"."trade_date",
    "t"."status",
    "t"."transaction_type",
    "t"."total_size",
    "t"."buy_price",
    "t"."sell_price",
    "t"."pnl_eur",
    "t"."client_name",
    "t"."introducer_name",
    "t"."sales_name",
    "t"."booking_entity_id",
    "be"."legal_name" AS "booking_entity_name",
    "t"."product_id",
    "t"."retro_client",
    "t"."retro_introducer",
    "p"."currency" AS "product_currency",
    "p"."issuer_id",
    "i"."legal_name" AS "issuer_name",
    "p"."settlement"
   FROM ((("public"."trades" "t"
     LEFT JOIN "public"."products" "p" ON (("p"."id" = "t"."product_id")))
     LEFT JOIN "public"."issuers" "i" ON (("i"."id" = "p"."issuer_id")))
     LEFT JOIN "public"."group_entities" "be" ON (("be"."id" = "t"."booking_entity_id")));


ALTER VIEW "public"."trades_analytics_v" OWNER TO "postgres";


CREATE OR REPLACE VIEW "public"."trades_dashboard_v" AS
 SELECT "t"."id",
    "t"."trade_date",
    "t"."status",
        CASE
            WHEN ("t"."status" = 'cancelled'::"public"."trade_status") THEN 'cancelled'::"text"
            WHEN ("t"."status" = 'archived'::"public"."trade_status") THEN 'archived'::"text"
            WHEN (EXISTS ( SELECT 1
               FROM "public"."trade_legs" "l"
              WHERE (("l"."trade_id" = "t"."id") AND ("l"."status" <> 'booked'::"text")))) THEN 'pending'::"text"
            ELSE 'booked'::"text"
        END AS "effective_status",
    "t"."transaction_type",
    "t"."total_size",
    "t"."buy_price",
    "t"."sell_price",
    "t"."pnl_eur",
    "t"."client_name",
    "t"."introducer_name",
    "t"."sales_name",
    "t"."sales_id",
    "t"."booking_entity_id",
    "be"."legal_name" AS "booking_entity_name",
    "t"."product_id",
    "p"."currency" AS "product_currency",
    "p"."issuer_id",
    "i"."legal_name" AS "issuer_name",
    "t"."retro_client",
    "t"."retro_introducer"
   FROM ((("public"."trades" "t"
     LEFT JOIN "public"."products" "p" ON (("p"."id" = "t"."product_id")))
     LEFT JOIN "public"."issuers" "i" ON (("i"."id" = "p"."issuer_id")))
     LEFT JOIN "public"."group_entities" "be" ON (("be"."id" = "t"."booking_entity_id")));


ALTER VIEW "public"."trades_dashboard_v" OWNER TO "postgres";


CREATE OR REPLACE VIEW "public"."trades_with_effective_status" AS
 SELECT "id",
    "transaction_type",
    "trade_date",
    "value_date",
    "maturity_date",
    "product_id",
    "reference",
    "status",
    "sales_id",
    "distributing_entity_id",
    "booking_entity_id",
    "created_by",
    "created_at",
    "booked_at",
    "booked_by",
    "cancelled_at",
    "cancelled_by",
    "buy_price",
    "sell_price",
    "total_size",
    "gross_fees",
    "retro_client",
    "retro_introducer",
    "fee_custodian",
    "pnl_trade_ccy",
    "pnl_eur",
    "fx_eur_rate",
    "booking_timestamp",
    "client_name",
    "introducer_name",
    "sales_name",
    "retro_client_input",
    "retro_introducer_input",
    "fee_custodian_input",
    "client_contact_id",
    "introducer_contact_id",
        CASE
            WHEN ("status" = 'cancelled'::"public"."trade_status") THEN 'cancelled'::"text"
            WHEN ("status" = 'archived'::"public"."trade_status") THEN 'archived'::"text"
            WHEN (EXISTS ( SELECT 1
               FROM "public"."trade_legs" "l"
              WHERE (("l"."trade_id" = "t"."id") AND ("l"."status" <> 'booked'::"text")))) THEN 'pending'::"text"
            ELSE 'booked'::"text"
        END AS "effective_status"
   FROM "public"."trades" "t";


ALTER VIEW "public"."trades_with_effective_status" OWNER TO "postgres";


ALTER TABLE ONLY "public"."advisor_contacts"
    ADD CONSTRAINT "advisor_contacts_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."advisors"
    ADD CONSTRAINT "advisors_legal_name_key" UNIQUE ("legal_name");



ALTER TABLE ONLY "public"."advisors"
    ADD CONSTRAINT "advisors_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."counterparties"
    ADD CONSTRAINT "counterparties_legal_name_key" UNIQUE ("legal_name");



ALTER TABLE ONLY "public"."counterparties"
    ADD CONSTRAINT "counterparties_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."counterparty_contacts"
    ADD CONSTRAINT "counterparty_contacts_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."fx_rates"
    ADD CONSTRAINT "fx_rates_pkey" PRIMARY KEY ("rate_date", "quote_ccy");



ALTER TABLE ONLY "public"."group_entities"
    ADD CONSTRAINT "group_entities_legal_name_key" UNIQUE ("legal_name");



ALTER TABLE ONLY "public"."group_entities"
    ADD CONSTRAINT "group_entities_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."issuers"
    ADD CONSTRAINT "issuers_legal_name_key" UNIQUE ("legal_name");



ALTER TABLE ONLY "public"."issuers"
    ADD CONSTRAINT "issuers_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."products"
    ADD CONSTRAINT "products_isin_key" UNIQUE ("isin");



ALTER TABLE ONLY "public"."products"
    ADD CONSTRAINT "products_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."profiles"
    ADD CONSTRAINT "profiles_email_key" UNIQUE ("email");



ALTER TABLE ONLY "public"."profiles"
    ADD CONSTRAINT "profiles_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."sales_people"
    ADD CONSTRAINT "sales_people_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."trade_fees"
    ADD CONSTRAINT "trade_fees_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."trade_legs"
    ADD CONSTRAINT "trade_legs_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."trade_versions"
    ADD CONSTRAINT "trade_versions_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."trades"
    ADD CONSTRAINT "trades_pkey" PRIMARY KEY ("id");



CREATE INDEX "advisor_contacts_advisor_idx" ON "public"."advisor_contacts" USING "btree" ("advisor_id");



CREATE INDEX "advisors_legal_name_idx" ON "public"."advisors" USING "btree" ("legal_name");



CREATE INDEX "advisors_type_idx" ON "public"."advisors" USING "btree" ("advisor_type");



CREATE INDEX "counterparties_cp_type_idx" ON "public"."counterparties" USING "btree" ("cp_type");



CREATE INDEX "counterparties_legal_name_idx" ON "public"."counterparties" USING "btree" ("legal_name");



CREATE INDEX "fx_rates_quote_ccy_idx" ON "public"."fx_rates" USING "btree" ("quote_ccy", "rate_date" DESC);



CREATE INDEX "idx_counterparty_contacts_counterparty_id" ON "public"."counterparty_contacts" USING "btree" ("counterparty_id");



CREATE INDEX "idx_products_isin" ON "public"."products" USING "btree" ("isin");



CREATE INDEX "idx_products_issuer_id" ON "public"."products" USING "btree" ("issuer_id");



CREATE INDEX "idx_trade_fees_leg" ON "public"."trade_fees" USING "btree" ("trade_leg_id");



CREATE INDEX "idx_trade_legs_counterparty" ON "public"."trade_legs" USING "btree" ("counterparty_id");



CREATE INDEX "idx_trade_legs_trade_id" ON "public"."trade_legs" USING "btree" ("trade_id");



CREATE INDEX "idx_trades_product_id" ON "public"."trades" USING "btree" ("product_id");



CREATE INDEX "idx_trades_status" ON "public"."trades" USING "btree" ("status");



CREATE INDEX "idx_trades_trade_date" ON "public"."trades" USING "btree" ("trade_date");



CREATE INDEX "sales_people_name_idx" ON "public"."sales_people" USING "btree" ("family_name", "first_name");



CREATE INDEX "trades_fx_pending_idx" ON "public"."trades" USING "btree" ("fx_pending", "trade_date");



CREATE INDEX "trades_reportable_idx" ON "public"."trades" USING "btree" ("reportable");



CREATE INDEX "trades_status_idx" ON "public"."trades" USING "btree" ("status");



CREATE INDEX "trades_trade_date_idx" ON "public"."trades" USING "btree" ("trade_date");



CREATE UNIQUE INDEX "uq_trade_versions_trade_version" ON "public"."trade_versions" USING "btree" ("trade_id", "version_number");



CREATE OR REPLACE TRIGGER "aa_trg_set_trade_fx" BEFORE INSERT OR UPDATE OF "trade_date", "product_id" ON "public"."trades" FOR EACH ROW EXECUTE FUNCTION "public"."set_trade_fx_from_rates"();



CREATE OR REPLACE TRIGGER "trg_lock_trades_delete" BEFORE DELETE ON "public"."trades" FOR EACH ROW EXECUTE FUNCTION "public"."prevent_update_delete_booked"();



CREATE OR REPLACE TRIGGER "trg_lock_trades_update" BEFORE UPDATE ON "public"."trades" FOR EACH ROW EXECUTE FUNCTION "public"."prevent_update_delete_booked"();



CREATE OR REPLACE TRIGGER "zz_trg_set_pnl_eur" BEFORE INSERT OR UPDATE OF "pnl_trade_ccy", "fx_eur_rate", "product_id", "trade_date" ON "public"."trades" FOR EACH ROW EXECUTE FUNCTION "public"."set_pnl_eur_from_fx"();



ALTER TABLE ONLY "public"."advisor_contacts"
    ADD CONSTRAINT "advisor_contacts_advisor_id_fkey" FOREIGN KEY ("advisor_id") REFERENCES "public"."advisors"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."advisors"
    ADD CONSTRAINT "advisors_created_by_fkey" FOREIGN KEY ("created_by") REFERENCES "public"."profiles"("id");



ALTER TABLE ONLY "public"."advisors"
    ADD CONSTRAINT "advisors_owner_sales_id_fkey" FOREIGN KEY ("owner_sales_id") REFERENCES "public"."sales_people"("id");



ALTER TABLE ONLY "public"."counterparties"
    ADD CONSTRAINT "counterparties_created_by_fkey" FOREIGN KEY ("created_by") REFERENCES "public"."profiles"("id");



ALTER TABLE ONLY "public"."counterparty_contacts"
    ADD CONSTRAINT "counterparty_contacts_counterparty_id_fkey" FOREIGN KEY ("counterparty_id") REFERENCES "public"."counterparties"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."group_entities"
    ADD CONSTRAINT "group_entities_created_by_fkey" FOREIGN KEY ("created_by") REFERENCES "public"."profiles"("id");



ALTER TABLE ONLY "public"."issuers"
    ADD CONSTRAINT "issuers_created_by_fkey" FOREIGN KEY ("created_by") REFERENCES "public"."profiles"("id");



ALTER TABLE ONLY "public"."products"
    ADD CONSTRAINT "products_created_by_fkey" FOREIGN KEY ("created_by") REFERENCES "public"."profiles"("id");



ALTER TABLE ONLY "public"."products"
    ADD CONSTRAINT "products_issuer_id_fkey" FOREIGN KEY ("issuer_id") REFERENCES "public"."issuers"("id");



ALTER TABLE ONLY "public"."profiles"
    ADD CONSTRAINT "profiles_id_fkey" FOREIGN KEY ("id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."trade_fees"
    ADD CONSTRAINT "trade_fees_created_by_fkey" FOREIGN KEY ("created_by") REFERENCES "public"."profiles"("id");



ALTER TABLE ONLY "public"."trade_fees"
    ADD CONSTRAINT "trade_fees_trade_leg_id_fkey" FOREIGN KEY ("trade_leg_id") REFERENCES "public"."trade_legs"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."trade_legs"
    ADD CONSTRAINT "trade_legs_advisor1_id_fkey" FOREIGN KEY ("advisor1_id") REFERENCES "public"."advisors"("id");



ALTER TABLE ONLY "public"."trade_legs"
    ADD CONSTRAINT "trade_legs_advisor2_id_fkey" FOREIGN KEY ("advisor2_id") REFERENCES "public"."advisors"("id");



ALTER TABLE ONLY "public"."trade_legs"
    ADD CONSTRAINT "trade_legs_counterparty_id_fkey" FOREIGN KEY ("counterparty_id") REFERENCES "public"."counterparties"("id");



ALTER TABLE ONLY "public"."trade_legs"
    ADD CONSTRAINT "trade_legs_created_by_fkey" FOREIGN KEY ("created_by") REFERENCES "public"."profiles"("id");



ALTER TABLE ONLY "public"."trade_legs"
    ADD CONSTRAINT "trade_legs_trade_id_fkey" FOREIGN KEY ("trade_id") REFERENCES "public"."trades"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."trade_versions"
    ADD CONSTRAINT "trade_versions_changed_by_fkey" FOREIGN KEY ("changed_by") REFERENCES "public"."profiles"("id");



ALTER TABLE ONLY "public"."trade_versions"
    ADD CONSTRAINT "trade_versions_trade_id_fkey" FOREIGN KEY ("trade_id") REFERENCES "public"."trades"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."trades"
    ADD CONSTRAINT "trades_booked_by_fkey" FOREIGN KEY ("booked_by") REFERENCES "public"."profiles"("id");



ALTER TABLE ONLY "public"."trades"
    ADD CONSTRAINT "trades_booking_entity_id_fkey" FOREIGN KEY ("booking_entity_id") REFERENCES "public"."group_entities"("id");



ALTER TABLE ONLY "public"."trades"
    ADD CONSTRAINT "trades_cancelled_by_fkey" FOREIGN KEY ("cancelled_by") REFERENCES "public"."profiles"("id");



ALTER TABLE ONLY "public"."trades"
    ADD CONSTRAINT "trades_client_contact_id_fkey" FOREIGN KEY ("client_contact_id") REFERENCES "public"."advisor_contacts"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."trades"
    ADD CONSTRAINT "trades_created_by_fkey" FOREIGN KEY ("created_by") REFERENCES "public"."profiles"("id");



ALTER TABLE ONLY "public"."trades"
    ADD CONSTRAINT "trades_distributing_entity_id_fkey" FOREIGN KEY ("distributing_entity_id") REFERENCES "public"."group_entities"("id");



ALTER TABLE ONLY "public"."trades"
    ADD CONSTRAINT "trades_introducer_contact_id_fkey" FOREIGN KEY ("introducer_contact_id") REFERENCES "public"."advisor_contacts"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."trades"
    ADD CONSTRAINT "trades_product_id_fkey" FOREIGN KEY ("product_id") REFERENCES "public"."products"("id");



ALTER TABLE ONLY "public"."trades"
    ADD CONSTRAINT "trades_sales_id_fkey" FOREIGN KEY ("sales_id") REFERENCES "public"."profiles"("id");



CREATE POLICY "Fees: active users can read" ON "public"."trade_fees" FOR SELECT TO "authenticated" USING ("public"."is_active_user"());



CREATE POLICY "Fees: pending can delete" ON "public"."trade_fees" FOR DELETE TO "authenticated" USING (("public"."is_active_user"() AND (EXISTS ( SELECT 1
   FROM ("public"."trade_legs" "l"
     JOIN "public"."trades" "t" ON (("t"."id" = "l"."trade_id")))
  WHERE (("l"."id" = "trade_fees"."trade_leg_id") AND ("t"."status" = 'pending'::"public"."trade_status") AND ("public"."is_admin"() OR ("t"."created_by" = "auth"."uid"())))))));



CREATE POLICY "Fees: pending can insert" ON "public"."trade_fees" FOR INSERT TO "authenticated" WITH CHECK (("public"."is_active_user"() AND (EXISTS ( SELECT 1
   FROM ("public"."trade_legs" "l"
     JOIN "public"."trades" "t" ON (("t"."id" = "l"."trade_id")))
  WHERE (("l"."id" = "trade_fees"."trade_leg_id") AND ("t"."status" = 'pending'::"public"."trade_status") AND ("public"."is_admin"() OR ("t"."created_by" = "auth"."uid"())))))));



CREATE POLICY "Fees: pending can update" ON "public"."trade_fees" FOR UPDATE TO "authenticated" USING (("public"."is_active_user"() AND (EXISTS ( SELECT 1
   FROM ("public"."trade_legs" "l"
     JOIN "public"."trades" "t" ON (("t"."id" = "l"."trade_id")))
  WHERE (("l"."id" = "trade_fees"."trade_leg_id") AND ("t"."status" = 'pending'::"public"."trade_status") AND ("public"."is_admin"() OR ("t"."created_by" = "auth"."uid"()))))))) WITH CHECK ("public"."is_active_user"());



CREATE POLICY "Legs: active users can read" ON "public"."trade_legs" FOR SELECT TO "authenticated" USING ("public"."is_active_user"());



CREATE POLICY "Legs: pending can delete" ON "public"."trade_legs" FOR DELETE TO "authenticated" USING (("public"."is_active_user"() AND (EXISTS ( SELECT 1
   FROM "public"."trades" "t"
  WHERE (("t"."id" = "trade_legs"."trade_id") AND ("t"."status" = 'pending'::"public"."trade_status") AND ("public"."is_admin"() OR ("t"."created_by" = "auth"."uid"())))))));



CREATE POLICY "Legs: pending can insert" ON "public"."trade_legs" FOR INSERT TO "authenticated" WITH CHECK (("public"."is_active_user"() AND (EXISTS ( SELECT 1
   FROM "public"."trades" "t"
  WHERE (("t"."id" = "trade_legs"."trade_id") AND ("t"."status" = 'pending'::"public"."trade_status") AND ("public"."is_admin"() OR ("t"."created_by" = "auth"."uid"())))))));



CREATE POLICY "Legs: pending can update" ON "public"."trade_legs" FOR UPDATE TO "authenticated" USING (("public"."is_active_user"() AND (EXISTS ( SELECT 1
   FROM "public"."trades" "t"
  WHERE (("t"."id" = "trade_legs"."trade_id") AND ("t"."status" = 'pending'::"public"."trade_status") AND ("public"."is_admin"() OR ("t"."created_by" = "auth"."uid"()))))))) WITH CHECK ("public"."is_active_user"());



CREATE POLICY "Profiles: admins can manage profiles" ON "public"."profiles" TO "authenticated" USING ("public"."is_admin"()) WITH CHECK ("public"."is_admin"());



CREATE POLICY "Profiles: users can read own profile" ON "public"."profiles" FOR SELECT TO "authenticated" USING (("id" = "auth"."uid"()));



CREATE POLICY "Trades: active users can create" ON "public"."trades" FOR INSERT TO "authenticated" WITH CHECK (("public"."is_active_user"() AND ("created_by" = "auth"."uid"()) AND ("status" = 'pending'::"public"."trade_status")));



CREATE POLICY "Trades: active users can read" ON "public"."trades" FOR SELECT TO "authenticated" USING ("public"."is_active_user"());



CREATE POLICY "Trades: admin can delete pending" ON "public"."trades" FOR DELETE TO "authenticated" USING (("public"."is_admin"() AND ("status" = 'pending'::"public"."trade_status")));



CREATE POLICY "Trades: pending can be updated" ON "public"."trades" FOR UPDATE TO "authenticated" USING (("public"."is_active_user"() AND ("status" = 'pending'::"public"."trade_status") AND ("public"."is_admin"() OR ("created_by" = "auth"."uid"())))) WITH CHECK ("public"."is_active_user"());



CREATE POLICY "Versions: active users can read" ON "public"."trade_versions" FOR SELECT TO "authenticated" USING ("public"."is_active_user"());



CREATE POLICY "Versions: admins can insert" ON "public"."trade_versions" FOR INSERT TO "authenticated" WITH CHECK ("public"."is_admin"());



ALTER TABLE "public"."advisor_contacts" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "advisor_contacts_delete_admin" ON "public"."advisor_contacts" FOR DELETE TO "authenticated" USING ("public"."is_admin"());



CREATE POLICY "advisor_contacts_insert_admin" ON "public"."advisor_contacts" FOR INSERT TO "authenticated" WITH CHECK ("public"."is_admin"());



CREATE POLICY "advisor_contacts_select_active" ON "public"."advisor_contacts" FOR SELECT TO "authenticated" USING ("public"."is_active_user"());



CREATE POLICY "advisor_contacts_update_admin" ON "public"."advisor_contacts" FOR UPDATE TO "authenticated" USING ("public"."is_admin"()) WITH CHECK ("public"."is_admin"());



ALTER TABLE "public"."advisors" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "advisors: active users can read" ON "public"."advisors" FOR SELECT TO "authenticated" USING ("public"."is_active_user"());



CREATE POLICY "advisors: admins can delete" ON "public"."advisors" FOR DELETE TO "authenticated" USING ("public"."is_admin"());



CREATE POLICY "advisors: admins can insert" ON "public"."advisors" FOR INSERT TO "authenticated" WITH CHECK ("public"."is_admin"());



CREATE POLICY "advisors: admins can update" ON "public"."advisors" FOR UPDATE TO "authenticated" USING ("public"."is_admin"()) WITH CHECK ("public"."is_admin"());



CREATE POLICY "advisors_delete_admin" ON "public"."advisors" FOR DELETE TO "authenticated" USING ("public"."is_admin"());



CREATE POLICY "advisors_insert_admin" ON "public"."advisors" FOR INSERT TO "authenticated" WITH CHECK ("public"."is_admin"());



CREATE POLICY "advisors_select_active" ON "public"."advisors" FOR SELECT TO "authenticated" USING ("public"."is_active_user"());



CREATE POLICY "advisors_update_admin" ON "public"."advisors" FOR UPDATE TO "authenticated" USING ("public"."is_admin"()) WITH CHECK ("public"."is_admin"());



ALTER TABLE "public"."counterparties" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "counterparties: active users can read" ON "public"."counterparties" FOR SELECT TO "authenticated" USING ("public"."is_active_user"());



CREATE POLICY "counterparties: admins can delete" ON "public"."counterparties" FOR DELETE TO "authenticated" USING ("public"."is_admin"());



CREATE POLICY "counterparties: admins can insert" ON "public"."counterparties" FOR INSERT TO "authenticated" WITH CHECK ("public"."is_admin"());



CREATE POLICY "counterparties: admins can update" ON "public"."counterparties" FOR UPDATE TO "authenticated" USING ("public"."is_admin"()) WITH CHECK ("public"."is_admin"());



ALTER TABLE "public"."counterparty_contacts" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "counterparty_contacts: active users can read" ON "public"."counterparty_contacts" FOR SELECT TO "authenticated" USING ("public"."is_active_user"());



CREATE POLICY "counterparty_contacts: admins can delete" ON "public"."counterparty_contacts" FOR DELETE TO "authenticated" USING ("public"."is_admin"());



CREATE POLICY "counterparty_contacts: admins can insert" ON "public"."counterparty_contacts" FOR INSERT TO "authenticated" WITH CHECK ("public"."is_admin"());



CREATE POLICY "counterparty_contacts: admins can update" ON "public"."counterparty_contacts" FOR UPDATE TO "authenticated" USING ("public"."is_admin"()) WITH CHECK ("public"."is_admin"());



ALTER TABLE "public"."fx_rates" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."group_entities" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "group_entities: active users can read" ON "public"."group_entities" FOR SELECT TO "authenticated" USING ("public"."is_active_user"());



CREATE POLICY "group_entities: admins can delete" ON "public"."group_entities" FOR DELETE TO "authenticated" USING ("public"."is_admin"());



CREATE POLICY "group_entities: admins can insert" ON "public"."group_entities" FOR INSERT TO "authenticated" WITH CHECK ("public"."is_admin"());



CREATE POLICY "group_entities: admins can update" ON "public"."group_entities" FOR UPDATE TO "authenticated" USING ("public"."is_admin"()) WITH CHECK ("public"."is_admin"());



ALTER TABLE "public"."issuers" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "issuers: active users can read" ON "public"."issuers" FOR SELECT TO "authenticated" USING ("public"."is_active_user"());



CREATE POLICY "issuers: admins can delete" ON "public"."issuers" FOR DELETE TO "authenticated" USING ("public"."is_admin"());



CREATE POLICY "issuers: admins can insert" ON "public"."issuers" FOR INSERT TO "authenticated" WITH CHECK ("public"."is_admin"());



CREATE POLICY "issuers: admins can update" ON "public"."issuers" FOR UPDATE TO "authenticated" USING ("public"."is_admin"()) WITH CHECK ("public"."is_admin"());



ALTER TABLE "public"."products" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "products: active users can read" ON "public"."products" FOR SELECT TO "authenticated" USING ("public"."is_active_user"());



CREATE POLICY "products: admins can delete" ON "public"."products" FOR DELETE TO "authenticated" USING ("public"."is_admin"());



CREATE POLICY "products: admins can insert" ON "public"."products" FOR INSERT TO "authenticated" WITH CHECK ("public"."is_admin"());



CREATE POLICY "products: admins can update" ON "public"."products" FOR UPDATE TO "authenticated" USING ("public"."is_admin"()) WITH CHECK ("public"."is_admin"());



ALTER TABLE "public"."profiles" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."sales_people" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "sales_people_delete_admin" ON "public"."sales_people" FOR DELETE TO "authenticated" USING ("public"."is_admin"());



CREATE POLICY "sales_people_insert_admin" ON "public"."sales_people" FOR INSERT TO "authenticated" WITH CHECK ("public"."is_admin"());



CREATE POLICY "sales_people_select_active" ON "public"."sales_people" FOR SELECT TO "authenticated" USING ("public"."is_active_user"());



CREATE POLICY "sales_people_update_admin" ON "public"."sales_people" FOR UPDATE TO "authenticated" USING ("public"."is_admin"()) WITH CHECK ("public"."is_admin"());



ALTER TABLE "public"."trade_fees" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."trade_legs" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "trade_legs_insert_admin" ON "public"."trade_legs" FOR INSERT WITH CHECK ("public"."is_admin"());



ALTER TABLE "public"."trade_versions" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."trades" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "trades_admin_update" ON "public"."trades" FOR UPDATE TO "authenticated" USING ((EXISTS ( SELECT 1
   FROM "public"."profiles" "p"
  WHERE (("p"."id" = "auth"."uid"()) AND ("p"."role" = 'admin'::"public"."user_role"))))) WITH CHECK ((EXISTS ( SELECT 1
   FROM "public"."profiles" "p"
  WHERE (("p"."id" = "auth"."uid"()) AND ("p"."role" = 'admin'::"public"."user_role")))));



CREATE POLICY "trades_insert_admin" ON "public"."trades" FOR INSERT WITH CHECK ("public"."is_admin"());





ALTER PUBLICATION "supabase_realtime" OWNER TO "postgres";





GRANT USAGE ON SCHEMA "public" TO "postgres";
GRANT USAGE ON SCHEMA "public" TO "anon";
GRANT USAGE ON SCHEMA "public" TO "authenticated";
GRANT USAGE ON SCHEMA "public" TO "service_role";

















































































































































































GRANT ALL ON FUNCTION "public"."get_fx_health"() TO "anon";
GRANT ALL ON FUNCTION "public"."get_fx_health"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."get_fx_health"() TO "service_role";



GRANT ALL ON FUNCTION "public"."get_fx_status"() TO "anon";
GRANT ALL ON FUNCTION "public"."get_fx_status"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."get_fx_status"() TO "service_role";



GRANT ALL ON FUNCTION "public"."is_active_user"() TO "anon";
GRANT ALL ON FUNCTION "public"."is_active_user"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."is_active_user"() TO "service_role";



GRANT ALL ON FUNCTION "public"."is_admin"() TO "anon";
GRANT ALL ON FUNCTION "public"."is_admin"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."is_admin"() TO "service_role";



GRANT ALL ON FUNCTION "public"."prevent_update_delete_booked"() TO "anon";
GRANT ALL ON FUNCTION "public"."prevent_update_delete_booked"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."prevent_update_delete_booked"() TO "service_role";



GRANT ALL ON FUNCTION "public"."rls_auto_enable"() TO "anon";
GRANT ALL ON FUNCTION "public"."rls_auto_enable"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."rls_auto_enable"() TO "service_role";



GRANT ALL ON FUNCTION "public"."set_pnl_eur"() TO "anon";
GRANT ALL ON FUNCTION "public"."set_pnl_eur"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."set_pnl_eur"() TO "service_role";



GRANT ALL ON FUNCTION "public"."set_pnl_eur_from_fx"() TO "anon";
GRANT ALL ON FUNCTION "public"."set_pnl_eur_from_fx"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."set_pnl_eur_from_fx"() TO "service_role";



GRANT ALL ON FUNCTION "public"."set_trade_fx_from_ecb"() TO "anon";
GRANT ALL ON FUNCTION "public"."set_trade_fx_from_ecb"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."set_trade_fx_from_ecb"() TO "service_role";



GRANT ALL ON FUNCTION "public"."set_trade_fx_from_rates"() TO "anon";
GRANT ALL ON FUNCTION "public"."set_trade_fx_from_rates"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."set_trade_fx_from_rates"() TO "service_role";
























GRANT ALL ON TABLE "public"."advisor_contacts" TO "anon";
GRANT ALL ON TABLE "public"."advisor_contacts" TO "authenticated";
GRANT ALL ON TABLE "public"."advisor_contacts" TO "service_role";



GRANT ALL ON TABLE "public"."advisors" TO "anon";
GRANT ALL ON TABLE "public"."advisors" TO "authenticated";
GRANT ALL ON TABLE "public"."advisors" TO "service_role";



GRANT ALL ON TABLE "public"."counterparties" TO "anon";
GRANT ALL ON TABLE "public"."counterparties" TO "authenticated";
GRANT ALL ON TABLE "public"."counterparties" TO "service_role";



GRANT ALL ON TABLE "public"."counterparty_contacts" TO "anon";
GRANT ALL ON TABLE "public"."counterparty_contacts" TO "authenticated";
GRANT ALL ON TABLE "public"."counterparty_contacts" TO "service_role";



GRANT ALL ON TABLE "public"."fx_rates" TO "anon";
GRANT ALL ON TABLE "public"."fx_rates" TO "authenticated";
GRANT ALL ON TABLE "public"."fx_rates" TO "service_role";



GRANT ALL ON TABLE "public"."group_entities" TO "anon";
GRANT ALL ON TABLE "public"."group_entities" TO "authenticated";
GRANT ALL ON TABLE "public"."group_entities" TO "service_role";



GRANT ALL ON TABLE "public"."issuers" TO "anon";
GRANT ALL ON TABLE "public"."issuers" TO "authenticated";
GRANT ALL ON TABLE "public"."issuers" TO "service_role";



GRANT ALL ON TABLE "public"."products" TO "anon";
GRANT ALL ON TABLE "public"."products" TO "authenticated";
GRANT ALL ON TABLE "public"."products" TO "service_role";



GRANT ALL ON TABLE "public"."profiles" TO "anon";
GRANT ALL ON TABLE "public"."profiles" TO "authenticated";
GRANT ALL ON TABLE "public"."profiles" TO "service_role";



GRANT ALL ON TABLE "public"."sales_people" TO "anon";
GRANT ALL ON TABLE "public"."sales_people" TO "authenticated";
GRANT ALL ON TABLE "public"."sales_people" TO "service_role";



GRANT ALL ON TABLE "public"."trade_fees" TO "anon";
GRANT ALL ON TABLE "public"."trade_fees" TO "authenticated";
GRANT ALL ON TABLE "public"."trade_fees" TO "service_role";



GRANT ALL ON TABLE "public"."trade_legs" TO "anon";
GRANT ALL ON TABLE "public"."trade_legs" TO "authenticated";
GRANT ALL ON TABLE "public"."trade_legs" TO "service_role";



GRANT ALL ON SEQUENCE "public"."trade_reference_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."trade_reference_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."trade_reference_seq" TO "service_role";



GRANT ALL ON TABLE "public"."trade_versions" TO "anon";
GRANT ALL ON TABLE "public"."trade_versions" TO "authenticated";
GRANT ALL ON TABLE "public"."trade_versions" TO "service_role";



GRANT ALL ON TABLE "public"."trades" TO "anon";
GRANT ALL ON TABLE "public"."trades" TO "authenticated";
GRANT ALL ON TABLE "public"."trades" TO "service_role";



GRANT ALL ON TABLE "public"."trades_analytics_v" TO "anon";
GRANT ALL ON TABLE "public"."trades_analytics_v" TO "authenticated";
GRANT ALL ON TABLE "public"."trades_analytics_v" TO "service_role";



GRANT ALL ON TABLE "public"."trades_dashboard_v" TO "anon";
GRANT ALL ON TABLE "public"."trades_dashboard_v" TO "authenticated";
GRANT ALL ON TABLE "public"."trades_dashboard_v" TO "service_role";



GRANT ALL ON TABLE "public"."trades_with_effective_status" TO "anon";
GRANT ALL ON TABLE "public"."trades_with_effective_status" TO "authenticated";
GRANT ALL ON TABLE "public"."trades_with_effective_status" TO "service_role";









ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "service_role";



































